.container {
    background-color:rgb(200, 184, 214);
    border: dotted purple;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 75px 75px 75px;
    place-content: center;
    gap: .5rem;
}

.ilus {
    background-color:rgb(84, 53, 112);
    border: dotted rgb(49, 2, 49);
    font-size: 1rem;
    g
}

